<?xml version="1.0" encoding="gbk" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User">
    <insert id="add" parameterType="com.xinlan.model.User"
            useGeneratedKeys="true"
            flushCache="true"
            keyProperty="uid">
        insert into User (
            account, sex, slogan, details, avatar, mobile,
            extra, pwd, state, age , createTime, updateTime
        ) values (
            #{account},#{sex},#{slogan},#{details},#{avatar},#{mobile},
            #{extra},#{pwd},#{state},#{age}, #{createTime} , #{updateTime}
        );
<!--        <selectKey resultType="int" keyProperty="uid" order="AFTER">-->
<!--            select max(rowid) from User-->
<!--        </selectKey>-->
    </insert>

    <select id = "select_by_uid" parameterType="long" resultType = "com.xinlan.model.User">
        select uid , account, sex, slogan, details, avatar, mobile,
        extra, pwd, state, age from User where uid = #{uid}
    </select>

    <select id = "select_by_account" parameterType="string" resultType = "com.xinlan.model.User">
        select uid , account, sex, slogan, details, avatar, mobile,
        extra, pwd, state, age from User where account = #{account}
    </select>
</mapper>
